@page "/"
@inject ILogger<Home> Logger
@code {
	protected override async Task OnInitializedAsync()
	{
		Logger.LogInformation("Home page initialized");
	}
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
